body {
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
h2 {
    font-size: 28px;
    margin-left: 8%;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size: 17px;
    margin-left: 8%;
    font-family: 'Times New Roman', Times, serif;
}
.inleiding {
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
}
img {
    margin-left: 270px;
    width: 50%;
}